
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.top-bar{
  a, a:link, a:visited, a:hover{
    color:$fg;
  }
}

.top-bar-left{
  @include breakpoint(small only) {
    display: none;
  }
}

.sticky{
  width:100%;
  background:$bg;
}

.menu li {
   white-space:nowrap;
}
.menu li a.active {
  border: 1px solid white;
}

