<div class="row section">
  <h1>How We Choose Talks</h1>
  <div class="column small-12 large-4 how__item">
    <img src="<%= image_path 'pac-2.png' %>"/>
    <h2>We Want Talks That Are</h2>

    <p>
    Innovative. New ideas and creative or surprising solutions.
    Interesting to a wide audience.
    Inspiring. Code that was shared or that helped in unexpected ways. Things that made Klarna a better place to work.
    Based on real experiences. What worked well, and what didn’t.
    Diverse. We want talks on a variety of subjects and speakers from across the organisation.
    Entertaining. Narrative and humor make a big difference.
    </p>
  </div>

  <div class="column small-12 large-4 how__item">
    <img src="<%= image_path 'pac-3.png' %>"/>
    <h2>We Avoid Talks That Are</h2>

    <p>
    Better as a brown bag. If your talk is only relevant to part of the organization it might be more suitable as a brown bag.
    Too basic or preaching to the choir. Don’t tell us what we already know or can easily find out by ourselves.
    Design reviews. We’re less interested in what you plan to do, as it’s too soon to say if its good or bad.
    Second hand. We’d rather hear you talk about your hands-on experience than something you heard from someone else.
    </p>
  </div>


  <div class="column small-12 large-4 how__item">
    <img src="<%= image_path 'pac-4.png' %>"/>
    <h2>How we Choose LightninG Talks</h2>

    <p>
    TL;DR; make it fun
    </p>
  </div>

</div>
