<div class="row section">
  <div class="hero">
    <h1>
      <%= title %>
      <small>
        Share Knowledge and Experience and Celebrate Klarna's Engineering Culture
      </small>
    </h1>
    <a class="button" target="_self" href="<%= data.global.event.eventbrite %>">Register Now</a>
  </div>
</div>
