<div class="row">
  <div class="hero">
    <h1>
      <%= title %>
    </h1>
    <h2>
      Engineering
      +
      Experience
      +
      Culture
    </h2>
    <a class="button" target="_self" href="<%= data.global.event.eventbrite %>">Register Now</a>
  </div>
  <div class="row hero__footer">
    <div class="column small-12 large-6 text-center large-text-right">
     <h3>7 Sep 2016</h3> 
     <p>
      Starting 8:00am until 6:00pm
     </p>
    </div>
    <div class="column small-12 large-6 text-center large-text-left">
      
     <h3>Stockholm, SE</h3> 
     <p>
        <%= data.global.venue.address %>
     </p>
    </div>
  </div>
</div>
<img src="<%= image_path 'invaders.png' %>" style="width:200px; height:200px;position:absolute; right:30px; bottom:0px"/>
