<div class="row" style="height: 400px">
  <div class="column small-12 large-6 venue__address">
       <h2>Clarion Sign</h2>
       <br/>
       <h3>Östra Järnvägsgatan 35</h3>
       <h3>101 26 Stockholm</h3>
       <h3>+46 8 676 98 00</h3>
  </div>
  <div class="column small-12 large-6">
    <!-- iframe style="position:absolute;height:400px"
            allowfullscreen="allowfullscreen" frameborder="0" height="100%" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBK6S7tQyI7xHu3808B3b9ho-9bUO4wGfA&amp;q=Kansas+City+Convention+Center,Kansas+MO" style="border:0" width="100%"></iframe-->
  </div>
</div>
