<div class="row section">
  <h1>Why Present</h1>

  We know – it’s scary to get up in front of your peers and present something. That’s why we’ve created this list of reasons to present:


  <div class="row">
  <div class="column small-12 large-3">
    <h2>Get Better</h2>

    If you think that today you know your topic well, presenting on it will make you learn it better. Explaining a topic to a captive audience forces you to rethink your assumptions.
  </div>


  <div class="column small-12 large-3">
  <h2>Make Your Mark</h2>
  We’ve met many engineers who have great ideas or have solved problems in an elegant, efficient way, but their solutions have remained stuck in their individual teams. By sharing your solutions and knowledge, you can make Klarna Engineering better!
  </div>


  <div class="column small-12 large-3">
  <h2>Practice Makes Perfect</h2>
  Having the best technical solution or best ideas can only get your so far – you need to be able to communicate your ideas. The KonferenSE is great practice! Also, if you want to speak at another conference, sending a video from The KonferenSE may help.
  </div>


  <div class="column small-12 large-3">
  <h2>Be a Rock Star</h2>
  Yes, by being a speaker, you will get a photo taken by a professional photographer.
  </div>
  </div>


  <div class="column small-12">
    <h3>We are here to help you!</h3>

    Not sure if your idea is interesting? Ask us!

    We’ll review your slides and help you turn them into a thing of beauty. We’re happy to be your dry-run audience and give you feedback, working with you to make your talk awesome!
  </div>
</div>

